[build]
  command = ""
  publish = "v3/frontend"

[[redirects]]
  from = "/api/*"
  to = "https://cratejuice.onrender.com/:splat"
  status = 200
  force = true
  headers = { Access-Control-Allow-Origin = "*" }

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
